@charset "UTF-8";
nav {
  display: flex;
  gap: 420px;
  width: 1182px;
  height: 60px;
}

.links-nav {
  display: flex;
  gap: 100px; /* reduz o espaçamento entre os itens*/
  height: 5px;
  font-family: "Poppins", sans-serif;
  color: #4B5563;
}

#logo {
  width: 245px;
  height: 43px;
}

.linha {
  height: 2px;
  background-color: #B4AEAE;
}

#btn-nav {
  background-color: #21C05C;
  color: #FFFFFF;
  border-radius: 6px;
  width: 180px;
  height: 60px;
  border: #21C05C;
  font-family: "Poppins", sans-serif;
}

.titulo-sobretitulo {
  display: flex;
  gap: 200px;
  padding: 20px;
}

.textos {
  width: 678px;
  height: 227px;
}

.textos h1 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #1F2937;
}

.textos h4 {
  font-family: "Inter", sans-serif;
  color: #4B5563;
  font-size: 20px;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

#doador {
  background-color: #16A34A;
  color: #FFFFFF;
  border-radius: 6px;
  width: 189px;
  height: 60px;
  border: #21C05C;
  font-family: "Poppins", sans-serif;
  margin-right: 50px;
}

#quero-adquirir {
  background-color: #FFFFFF;
  border-radius: 6px;
  width: 189px;
  height: 60px;
  font-family: "Poppins", sans-serif;
  color: #2563EB;
  border-color: #2563EB;
}

#Reciclado {
  max-width: 418px;
  max-height: 597px;
  height: auto;
  width: auto;
  text-align: center;
}

.dados {
  width: 1, 182px;
  height: 150px;
  background-color: #F3F5F8;
  text-align: center;
}

#dadosimg {
  display: inline-block;
}

.explicação {
  text-align: justify;
  padding: 40px;
}

h2 {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
}

h3 {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0%;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card1 {
  background-color: #F3F5F8;
  box-shadow: rgba(99, 99, 99, 0.2);
  padding: 20px;
  border-radius: 8px;
  text-align: justify;
  width: 491px;
  height: 481px;
  align-items: center;
  gap: 10px;
}

.card1 h3 {
  color: #16A34A;
  font-family: "Inter", sans-serif;
}

.icone {
  vertical-align: middle;
  margin-right: 10px;
}

.card1 p {
  font-family: "Poppins", sans-serif;
}

.subtitulo {
  padding-left: 38px;
}

.card2 {
  background-color: #F3F5F8;
  padding: 20px;
  border-radius: 8px;
  text-align: justify;
  width: 491px;
  height: 481px;
}

.card2 h3 {
  color: #2563EB;
  font-family: "Inter", sans-serif;
}

.card2 p {
  font-family: "Poppins", sans-serif;
}

.tipos-de-produtos {
  background-color: #F3F5F8;
  padding: 20px;
  align-items: center;
  width: 1, 182px;
  height: 774px;
}

.tipos-de-produtos h2 {
  font-family: "Poppins", sans-serif;
}

.tipos-de-produtos h3 {
  font-family: "inter", sans-serif;
}

.cards-produtos {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card-fones {
  background-color: #FFFFFF;
  width: 295px;
  height: 436px;
  border-radius: 8px;
  border: 2px solid #16A34A;
}

.card-notebooks {
  background-color: #FFFFFF;
  width: 295px;
  height: 436px;
  border-radius: 8px;
  border: 2px solid #16A34A;
}

.card-smartphones {
  background-color: #FFFFFF;
  width: 295px;
  height: 436px;
  border-radius: 8px;
  border: 2px solid #16A34A;
}

.card-fones h4 {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #09090B;
}

.card-notebooks h4 {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.card-smartphones h4 {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.card-fones p {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #4B5563;
}

.card-notebooks p {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #4B5563;
}

.card-smartphones p {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #4B5563;
}

.cards-produtos .btn-dispositivos {
  width: 150px;
  height: 37px;
  opacity: 1;
  border-radius: 6px;
  color: #FFFFFF;
  background-color: #16A34A;
  border: #16A34A;
  margin: 20px auto 0 auto;
  display: block;
  padding: 10px 30px;
}

.cards-avaliação {
  display: flex;
  gap: 80px;
  justify-content: center;
  background-color: #FFFFFF;
}

.avaliações h1 {
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1F2937;
}

.avaliações h3 {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #4B5563;
}

.avaliações .card-joao {
  background-color: #FFFFFF;
  box-shadow: rgba(99, 99, 99, 0.2);
  padding: 20px;
  border-radius: 8px;
  text-align: justify;
  width: 338px;
  height: 300px;
  align-items: center;
  gap: 10px;
  border: 3px solid #9CA3AF;
}

.avaliações .card-maria {
  background-color: #FFFFFF;
  box-shadow: rgba(99, 99, 99, 0.2);
  padding: 20px;
  border-radius: 8px;
  text-align: justify;
  width: 338px;
  height: 300px;
  align-items: center;
  gap: 10px;
  border: 3px solid #9CA3AF;
}

.avaliações .card-ana {
  background-color: #FFFFFF;
  box-shadow: rgba(99, 99, 99, 0.2);
  padding: 20px;
  border-radius: 8px;
  text-align: justify;
  width: 338px;
  height: 300px;
  align-items: center;
  gap: 10px;
  border: 3px solid #9CA3AF;
}

.card-joao p {
  font-family: "Poppins", sans-serif;
}

.card-maria p {
  font-family: "Poppins", sans-serif;
}

.card-ana p {
  font-family: "Poppins", sans-serif;
}

.card-joao .nome {
  font-family: "inter", sans-serif;
}

.card-maria .nome {
  font-family: "inter", sans-serif;
}

.card-ana .nome {
  font-family: "inter", sans-serif;
}

.card-joao .tipos-de-usuarios {
  font-family: "inter", sans-serif;
  color: #6B7280;
  padding-left: 50px;
}

.card-maria .tipos-de-usuarios {
  font-family: "inter", sans-serif;
  color: #6B7280;
  padding-left: 50px;
}

.card-ana .tipos-de-usuarios {
  font-family: "inter", sans-serif;
  color: #6B7280;
  padding-left: 50px;
}

.banner {
  background-color: #F3F5F8;
  padding: 20px;
  align-items: center;
  width: 1, 182px;
  height: 405px;
}

.banner h1 {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.banner h3 {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.banner .botoes-informativo {
  text-align: center;
  margin-right: 10px;
}

.banner .comecar-agora {
  background-color: #16A34A;
  width: 189px;
  height: 44px;
  opacity: 1;
  border-radius: 6px;
  border-width: 1px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  border: #16A34A;
  color: #FFFFFF;
  margin-right: 10px;
}

.banner .saber-mais {
  width: 157px;
  height: 44px;
  background-color: #FFFFFF;
  color: #16A34A;
  border-color: #16A34A;
  opacity: 1;
  border-radius: 6px;
  border-width: 1px;
  padding-top: 10px;
  padding-right: 34px;
  padding-bottom: 10px;
  padding-left: 34px;
}

footer {
  background-color: #1F2937;
  width: 1, 185px;
  height: 345px;
  top: 3603px;
  left: -1px;
  opacity: 1;
}

.footer {
  display: flex;
  gap: 100px;
}

footer #logofooter {
  width: 150px;
  height: 28px;
  top: 3642px;
  left: 22.44px;
  opacity: 1;
}

footer p {
  color: #9CA3AF;
  font-family: Poppins;
}

footer .titulo {
  color: #FFFFFF;
  font-family: Poppins;
}

.linha {
  height: 1px;
  background-color: #B4AEAE;
}

.direitos-footer {
  text-align: center;
}/*# sourceMappingURL=style.css.map */